/* Here is where all of the custom css goes for the main page */ 
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

/* THEME COLOURS */
.bg-theme-color-1 {}
.bg-theme-color-2 {}
.bg-theme-color-3 {}

.bg-blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.bg-img-1 {
	background-image: url("http://assets.sbnation.com/assets/3149491/TSS_036_FastBoat_Segment_A.Still006.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}