body {
	padding-top: 50px; /* To account for the nav bar */
}

/* THEME COLOURS */
.bg-theme-color-1 {}
.bg-theme-color-2 {}
.bg-theme-color-3 {}

#results-side-nav {
	position: fixed;
	top: 200px;
	left: -5px;
}

.bg-img-1 {
	background-image: url("//c7.staticflickr.com/6/5758/22625523766_5887ee8df6_h.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* GENERIC */
.padding-256 { padding: 256px; }
.pointer-hover { cursor: pointer; }

/* FAQ */
.panel-title [data-toggle="collapse"]:after {
	font-family: 'Glyphicons Halflings';
	content: "\e072"; /* "play" icon */
	float: right;
	color: #F58723;
	font-size: 18px;
	line-height: 22px;
	/* rotate "play" icon from > (right arrow) to down arrow */
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.panel-title [data-toggle="collapse"].collapsed:after {
	/* rotate "play" icon from > (right arrow) to ^ (up arrow) */
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #454444;
}

/* FORUM */
.forum.table > tbody > tr > td {
    vertical-align: middle;
}

.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 6em;
}

.forum.table th.cell-stat-2x {
    width: 14em;
}