body {
	padding-top: 50px; /* To account for the nav bar */
}

/* THEME COLOURS */
.bg-theme-color-1 {}
.bg-theme-color-2 {}
.bg-theme-color-3 {}

#results-side-nav {
	position: fixed;
	top: 200px;
	left: -5px;
}

.bg-img-1 {
	background-image: url("//c7.staticflickr.com/6/5758/22625523766_5887ee8df6_h.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#map { height: 100%; }

/* GENERIC */
.padding-256 { padding: 256px; }
.pointer-hover { cursor: pointer; }